/* Reseteo */
* {
    margin: 0;
    padding: 0;
}

/* Agregado de fuente */

@font-face {
    font-family: satorititulos;
    src: url(../Fuentes/04435_BerlinSansFB.ttf);
}

/* Agregado de fuente */
@font-face {
    font-family: satoritextos;
    src: url(../Fuentes/BentonSans\ Regular.otf);
}

html {
    font-size: 62.5%;
}

body {
    background-color: #ead8cc;
}

/* Logo y navbar */
header {
    background-color: #254a33;
    border-bottom: 2px solid rgba(0, 0, 0, 0.24);
    height: 20rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    margin-top: 10rem;

}

.logoheader {
    width: 30rem;
    padding-left: 3rem;
}

.listas {
    padding-right: 3rem;
    display: flex;
}

.listas li {
    list-style-type: none;

}

.listas li a {
    color: #ead8cc;
    text-decoration-line: none;
    padding: 0.5rem 1rem;
    font-size: 4rem;
    font-family: satorititulos;
}

.listas li a:hover {
    background-color: rgb(82, 82, 82);
}


footer {
    background-color: #254a33;
    border-top: 2px solid rgba(0, 0, 0, 0.24);
    width: 100%;
    /* display: flex; */
    height: 23rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "iconosuno" "horarios" "ubicacion";
}

.iconosuno {
    grid-area: "iconosuno";
}

.horarios {
    grid-area: "horarios";
}

.ubicacion {
    grid-area: "ubicacion";
}

.banner img {
    height: 70rem;
    width: 100%;
}

.iconosuno {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    justify-content: center;
}

.iconosuno img {
    height: 3rem;
    padding-bottom: 1.5rem;
}

.iconosuno h1 {
    padding-bottom: 2rem;
    font-size: 3rem;
    font-family: satorititulos;
    padding-left: 1rem;
    padding-top: 1rem;
}

.redes {
    display: flex;
    color: #ead8cc;
    font-family: satoritextos;
    font-size: 1.5rem;
    align-items: center;
}

.redes p {
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;

}

.redes a {
    text-decoration-line: none;
    color: #ead8cc;
}

.horarios {
    display: flex;
    flex-direction: column;
    /* padding-left: 30%; */
    justify-content: center;
    align-items: center;
}

.horarios h1 {
    padding-bottom: 2rem;
    font-size: 3rem;
    font-family: satorititulos;
    padding-left: 10px;
    padding-top: 10px;
}

.listahorarios ul li {
    list-style-type: none;
    color: #ead8cc;
    font-family: satoritextos;
    font-size: 1.5rem;
    padding-bottom: 15px;
    padding-left: 70px;
}

.ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-left: 60rem; */
}

.ubicacion h1 {
    /* padding-bottom: 20%; */
    font-size: 3rem;
    font-family: satorititulos;
    padding-left: 10px;
    padding-top: 10px;
}


.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.formulario input {
    display: block;
    width: 300px;

}


.formulario textarea {
    display: block;
    width: 300px;
}

.formulario label {
    font-style: satoritextos;
    font-size: 2.5rem;
}

.wsp {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 32%;
    padding-right: 1rem;
    height: 4rem;
}

.arriba {
    position: relative;
    margin-left: 97.3%;
    width: 4rem;
    height: 4rem;
}

/* Segunda fila de grilla */

.nosotrostexto {
    font-family: satoritextos;
    font-size: large;
    text-align: center;
}

.nosotrostexto h1 {
    font-family: satorititulos;
}

.nosotrosimagen img {
    margin-left: 20rem;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
}

/* Tercer fila de grilla */

.cartatexto {
    font-family: satoritextos;
    font-size: large;
    text-align: center;
}

.cartatexto h1 {
    font-family: satorititulos;
}

.cartaimagen img {
    margin-left: 20rem;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
}

/* Cuarta fila de grilla */

.tiendatexto {
    font-family: satoritextos;
    font-size: large;
    text-align: center;
}

.tiendatexto h1 {
    font-family: satorititulos;
}

.tiendaimagen img {
    margin-left: 20rem;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
}

/* Quinta fila de grilla */

.contactotexto {
    font-family: satoritextos;
    font-size: large;
    text-align: center;
}

.contactotexto h1 {
    font-family: satorititulos;
}

.contactoimagen img {
    margin-left: 20rem;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
}

.bannercontacto {
    width: 100%;
    height: 100px;
    background: rgb(0, 0, 0);
    border: 1px solid #000;
}

.bannercontacto h1 {
    color: #ead8cc;
    font-family: satorititulos;
    font-size: 5rem;
    text-align: center;
    padding-top: 1.5rem;
}

/* GRIDS */

/* Grid main */
.contenedormain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "banner banner"
        "nosimagen nos"
        "linea1 linea1"
        "cartatexto cartaimagen"
        "linea2 linea2"
        "tiendaimagen tiendatexto"
        "linea3 linea3"
        "contactotexto contactoimagen";
    align-items: center;
}

.banner {
    grid-area: banner;
}


.nosotrosimagen {
    grid-area: nosimagen;
}

.nosotrostexto {
    grid-area: nos;
}


.cartatexto {
    grid-area: cartatexto;
}

.cartaimagen {
    grid-area: cartaimagen;
}


.tiendatexto {
    grid-area: tiendatexto;
}

.tiendaimagen {
    grid-area: tiendaimagen;
}

.contactotexto {
    grid-area: contactotexto;
}

.contactoimagen {
    grid-area: contactoimagen;
}


.linea2 {
    /*  transform:rotate(-15deg); */
    border-top: 2px solid rgb(0, 0, 0);
    height: 100px;
    padding: 0;
    width: 100%;
    grid-area: linea2;
}

.linea1 {
    /*  transform:rotate(-15deg); */
    border-top: 2px solid rgb(0, 0, 0);
    height: 100px;
    padding: 0;
    width: 100%;
    grid-area: linea1;
}

.linea3 {
    /*  transform:rotate(-15deg); */
    border-top: 2px solid rgb(0, 0, 0);
    height: 100px;
    padding: 0;
    width: 100%;
    grid-area: linea3;
}